.background {
    height: 100vh;
    background-position: center;
    background-color: #151719;
}

.appname {
    font-size: 7.5vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: center;
    font-family: "Rowdies";
    font-weight: bolder;
}